<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Welcome to Alpha-Blog, your go-to platform for sharing and discovering insightful articles!</p>
            <hr class="my-4">
            <p>Explore a world of knowledge and creativity. Alpha-Blog provides a space for you to publish, read, and engage with compelling content.</p>
            <p class="lead">
                <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
            </p>
        </div>
    </div>
</div>
