<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Toncho Dinkov", "https://linkedin.com/in/toncho-dinkov-59636736", class: "text-white" %></small>
    </div>
</footer>